.nav{
    display: flex;
    justify-content: right;
    color: green;
    background-color: #F5F5DC;
}

h1{
    display: flex;
    justify-content: center;
}
h2{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 200;
}
span{
    font-size: medium;
    /* font-family: ; */
    color: limegreen;
}
/* img:hover{
    cursor: pointer;
} */
/* .kennedy{
    color: white;
    background-image: url(/customer_assets/image1.jpeg);
    height: 170px;
    width: 170px;
}
.mugisha{
    color: white;
    background-image: url(/customer_assets/image2.jpeg);
    height: 170px;
    width: 170px;
}
.hotels{
    color: white;
    background-image: url(/customer_assets/image3.jpeg);
    height: 170px;
    width: 170px;
}
.koi{
    color: white;
    background-image: url(/customer_assets/fruits.jpeg);
    height: 170px;
    width: 170px;
}
.khai{
    color: white;
    background-image: url(/customer_assets/image5.jpeg);
    height: 170px;
    width: 170px;
}
.eateries{
    color: white;
    background-image: url(/customer_assets/inter.jpeg);
    height: 170px;
    width: 170px;
} */

h3{
    color: yellowgreen;
    display: flex;
    justify-content: center;
}
.name{
    background-color: yellow;
}
#message{
    
    background-color: yellow;
    /* background-image: url(/customer_assets/image2.jpeg);
    background-repeat: no-repeat; */
    height: 400px;
    width: 400px;
}

.drop{
    display: flex;
    justify-content: center;
}
