/* navigation bar */
.navbar {
    background-color: beige !important;
    /* color: green; */
    /* height: 5rem; */
}
#icon-nav {
    /* background-color: darkblue; */
    color: #858585;
}
li a {
    color: green !important;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 1rem;
}
/* end navigation bar */
/* about us section */
.headers {
    font-size: 1.8rem;
    color: green;
    font-family: sans-serif;
    /* text-align: center; */
}
.about-info {
    font-size: 1.2rem;
    font-family: sans-serif;
}
.about-us {
    margin-top: 6rem;
}
.image-about {
    height: 10rem;
    width: 10rem
}
.image-group-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-group-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-about {
    background-color: green;
    color: white;
    border-radius: 20px;
    width: 12rem;
    font-weight: bold;
}
#read-more-text{
    visibility: hidden;
}
.header-product {
    text-align: center;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}
/* styles for products */
.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title-list {
    display: flex;
}
.card-text ul li {
    list-style: none;
    font-size: 1.3rem;
}
.card-price {
    display: flex;
    justify-content: space-between;
}
.btn-order {
    background-color: #2ECC71;
    color: white;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2rem;
}
/* styles for dealers */

.btn-block {
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2rem;
}

/* styles for contacts us */
#contact-us {
    background-image: url(./images/contactUs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 80rem; */
    height: 36rem;
}
#contact-us-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    margin-top: 1rem;
}
form {
    /* width: 500px; */
    margin-left: auto;
    margin-right: auto;
}
::placeholder {
    color: green !important;
}
.contact-btn {
    display: flex;
    justify-content: center;
}