@import url('https://fonts.googleapis.com/css?family=Montserrat');
.testimonial-container {
    background-color: green;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.testimonial {
    line-height: 28px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {
    font-weight: normal;
    margin: 10px 0;
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

/* 
.btn {

    width: 15%;
    background: green;
    color: #fff;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
}

.search-by{
    text-align: center;
    color: #081f32;
    padding-top: 50px;
    
}



.buy-sell{
position: relative;
text-align: center;
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title-list {
    display: flex;
}
.card-text ul li {
    list-style: none;
    font-size: 1.3rem;
}
.card-price {
    display: flex;
    justify-content: space-between;
}
.btn-order {
    background-color: #2ECC71;
    color: white;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.2rem;
}
.headers {
    font-size: 1.8rem;
    color: green;
    font-family: sans-serif;
    /* text-align: center; */
}

.header-product {
    text-align: center;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}



@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }

    .fa-quote {
        display: none;
    }
}


.navbar {
    background-color: beige !important;
    /* color: green; */
    height: 5rem;
    padding-bottom: 10px;
}
#icon-nav {
    /* background-color: darkblue; */
    color: #858585;
}
li a {
    color: green !important;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 1rem;
}


.img-carosel{
    background-position: center;
    background-repeat: no-repeat;
}